{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
    <title>Document</title>
    <script src="{% static 'home/main.js' %}"></script>
</head>
<body>
    <div id="tools">
        <input type="button" onclick="createField()">
    </div>
    <div id="container"></div>
    <form method="post" id="submit-form">
        {%csrf_token%}
        {{input}}
    </form>
    <input type="submit" onclick="send()">
    
</body>
</html>