{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{%static 'home/payment.js'%}"></script>
    <title>Document</title>
</head>
<body>
    <div class="paymentdetails">
        <h3>Var god fyll i telefonnummer för betalning</h3>
        <h4>(eg. 46701234567)</h4>

    </div>
  
    
    <form id="phone-form" method="post">   
        {% csrf_token %}
        {{ paymentForm }}
        <input type="submit"  value="Submit">
    </form>
    
 
</body>
</html>