{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'home/login.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="registration-form" method="post" id="register">
        
        {%csrf_token%}
        {{registerForm}}
        <input type="submit" id="sub" value="register">
    </form>
    <div id="regtxt">
        <a href="../login">
        <h1>
            already have an account? login
        </h1>
        </a>
    </div>
</body>
</html>